/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #024731;
  --matr-navbar-bg-rgb: 1, 28, 19;
  --matr-navbar-text-color: #FFFFFF;
  --matr-navbar-brand-color: #7dc47b;
  --matr-navbar-highlight-text: green;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/uh-background-image.png");
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-brand-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.white-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-light);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#welcome {
  padding: 2rem;

  background-color: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  border-radius: 10px;
}

/* Card Style for Profiles */
.card-img, .card-img-bottom, .card-img-top   {
  width: 75px !important;
}

/* Style for default profile image options */
.pfp-preview {
  width: 75px;
  height: 75px;
  border-radius: 25%;
  object-fit: cover;
}
